---
const { article } = Astro.props;
import { Image } from 'astro:assets';
---

<article
  class="flex flex-col items-start rounded-lg bg-white p-3 ring-1 ring-inset ring-gray-900/10 text-gray-600"
>
  <div class="relative w-full">
    <Image
      src={`/${article.data.image}`}
      width={1024}
      height={576}
      format="webp"
      alt={article.data.title}
      class="aspect-[16/9] w-full rounded-lg bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
    />
    <a href={`/articles/${article.slug}`}>
      <div
        class="absolute inset-0 rounded-lg ring-1 ring-inset ring-gray-900/10"
      >
      </div>
    </a>
  </div>
  <div class="">
    <div class="group relative text-1 text-sm">
      <h3
        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a href={`/articles/${article.slug}`}>
          {article.data.title}
        </a>
      </h3>
      <p class="mt-3">
        {article.data.excerpt}
      </p>
      <div class="mt-1 mb-1">
        <a href={`/articles/${article.slug}`} class="underline">Read more</a>
      </div>
    </div>
    <div
      class="mt-3 flex flex-grow justify-between items-center gap-x-4 text-1 text-xs"
    >
      <time datetime="2020-03-16" class="text-gray-500"
        >{new Date(article.data.date).toLocaleDateString()}</time
      >
      {
        article.data.tags.map((tag: string) => (
          <a
            href={`/tags/${tag}`}
            class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>
</article>
