---
import { Image } from "astro:assets";

type Props = {
  title: string;
  subtitle?: string;
  icons?: Array<string>;
  styles?: string;
  dark?: boolean;
  timeline?: boolean;
};
const { title, subtitle, icons = [], styles, dark, timeline } = Astro.props;
---

<div
  class={`flex flex-col gap-5 md:flex-row ${
    dark ? "bg-neutral-900 text-neutral-50" : ""
  } ${styles}`}
>
  <div class="flex flex-col w-full md:w-1/5">
    <slot name="before-icon" />
    <div class="">
      <h3 class="heading-3 text-center font-semibold text-5xl mb-5">{title}</h3>
      {
        subtitle && (
          <h4 class="heading-5 text-center font-light mb-5">{subtitle}</h4>
        )
      }
    </div>
    <div class="flex flex-col items-center flex-grow">
      {
        icons.map((icon) => (
          <Image
            height={76}
            width={76}
            alt={title}
            src={`/${icon}`}
            format="webp"
            fit="inside"
          />
        ))
      }
      {
        timeline && (
          <div class="flex justify-center h-full py-5">
            <div class="w-px h-full bg-neutral-400" />
          </div>
        )
      }
    </div>
  </div>
  <div class="flex w-full md:w-4/5">
    <slot />
  </div>
</div>
