---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "@astrojs/image/components";

interface Props {
  post: any;
}
const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <NavBar
    title={post.data.title}
    subtitle={post.data.subtitle}
    background={`bg-[url("/backgrounds/me-side.png")]`}
  />
  <div class="p-5 bg-white">
    <Image
      height={500}
      width={500}
      src={`/${post.data.image}`}
      format="webp"
      alt={post.data.title}
      class="rounded-lg"
    />
  </div>
  <div class="p-5 pt-1 bg-white text-gray-700">
    <div class="text-1 space-y-3">
      <Content class="text-1" />
    </div>
    <slot />
  </div>
</BaseLayout>
