---
import { Debug } from "astro/components";
import NavBar from "../components/NavBar.astro";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "@astrojs/image/components";

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={`${post.data.title}${post.data.catalog && ` (${post.data.catalog})`}`}
>
  <NavBar title={post.data.title} subtitle={post.data.catalog} />
  <div class="p-5 bg-neutral-900">
    <Image
      height={1500}
      width={1500}
      src={`/${post.data.image}`}
      format="webp"
      alt={post.data.title}
      class="rounded-lg"
      fit="cover"
      background="transparent"
    />
  </div>
  <div class="p-5 bg-neutral-900 text-white">
    <div class="text-1 space-y-3">
      <Content class="text-1" />
    </div>
    <slot />
  </div>
</BaseLayout>
